#post-profile-picture {
    object-fit: contain;
    height: auto;
    max-width: 100%
}

.add-comment-btns,
.edit-comment-btns {
    display: none;
}

.post-profile-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}