/* Default styles for XS devices */

.post-container {
    border-top: #DEE2E6 solid 2px;
    border-bottom: #DEE2E6 solid 2px;
    padding: 16px;
    overflow: hidden;
}

.post-profile-picture,
.comment-profile-picture {
    object-fit: cover;
    height: 30px;
    width: 30px;
}

.break-text{
    word-wrap: break-word;       /* legacy support */
    overflow-wrap: break-word;   /* modern standard */
    word-break: break-word;      /* optional for aggressive breaking */
  }


.post-picture {
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 100%;
}

.post-picture[src=""] {
    display: none !important;
}

.post-like-btn,
.comment-like-btn,
.view-comments-btn {
    border: none !important;
    padding: 4px !important;
    font-size: 16px !important;
}

.post-textarea, 
.comment-textarea {
    width: 100%;
    resize: none !important;
    color: #212529;
    padding: 5px;
    border-color: #DEE2E6;
}

/* Edit Post styles */
.edit-post-dropdown-item:hover {
    background-color: #f8f9fa !important;
}

.edit-post-dropdown-item:active {
    background-color: #0d6efd !important;
    color: #fff !important;
}

.edit-post-btn-group {
    display: none;
}


/* Add Comment styles */
.add-comment-textarea {
    border-color: #DEE2E6;
    padding: 5px;
    resize: none;
    transition: height 0.2s ease;
}

.add-comment-btns,
.edit-comment-btns {
    display: none;
}

.post-profile-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    word-wrap: break-word; /* Breaks long words */
    white-space: normal; /* Allows wrapping instead of one-line behavior */
}

/* Existing Comment & Edit comment styles */

.edit-comment-dropdown-item:hover {
    background-color: #f8f9fa !important;
}

.edit-comment-dropdown-item:active {
    background-color: #0d6efd !important;
    color: #fff !important;
}

/* Tablets (small screens) */
@media (min-width: 576px) {
    .post-container {
        border: #DEE2E6 solid 2px;
        padding: 24px;
    }
}

/* Larger tablets & small laptops */
@media (min-width: 768px) {
    .post-profile-picture,
    .comment-profile-picture {
        height: 30px;
        width: 30px;
    }
}

/* Standard laptops & desktops */
@media (min-width: 1024px) {
    .post-picture {
        aspect-ratio: 4 / 3;
    }
}

/* Large screens */
@media (min-width: 1280px) {
    
}

/* Extra large screens (4K monitors) */
@media (min-width: 1600px) {
    
}