#home-container {
    background-color: #0D6EFD;
    border-radius: 2px;
}

#home-link {
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 6px 6px;
}

#home-icon {
    width: 24px;
    margin-right: 5px;
}

#avatar-icon {
    width: 40px;
}

.nav-dropdown-item:active {
    color: #fff !important;
}

.dropdown-toggle::after {
    margin-left: 0px !important;
}