#home-container {
        background-color: #0D6EFD;
}

#home-link {
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex; /* Enables flexbox */
    align-items: center; /* Aligns items vertically */
    padding: 4px 8px;
}

#home-icon {
    width: 24px;
    margin-right: 5px;
}

#avatar-icon {
    width: 40px;
}

.nav-profile:hover {
    background-color: lightgrey;
    border-radius: 1px;
}