/* Profile Details */
#profile-details {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    justify-content: center;
    margin: auto;
}

#profile-picture-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 75%; /* Ensures it takes up full space */
    height: 75%; /* Adjust as needed */
    margin: 0 auto;
}

#profile-picture {
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 100%;
    max-width: 100%;
}

#profile-details-container {
    flex: 1;
    min-width: 0; /* allows wrapping instead of forcing overflow */
    max-width: 100%;
}

#profile-fullname {
    display: block;
    width: 100%;
    max-width: 90%;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-all;
}

#profile-location,
#profile-joined-date,
#profile-occupation,
#profile-age,
#profile-bio {
    font-size: 16px;
    display: block;
    width: 100%;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-all;
}

#edit-icon {
    font-size: 16px;
    cursor: pointer;
}

/* Update Profile */
#profile-form {
    background-color: rgb(255, 255, 255);
}

#profile-picture-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-picture-img {
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 100%;
}


/* Profile posts (new posts and existing posts) */
#profile-posts-container {
    width: 100%;
}


/* Tablets (small screens) */
@media (min-width: 600px) {
    
    #profile-picture-container {
        display: block;
        width: auto;
        height: auto;
        padding-right: 3rem;
    }

    #profile-picture {
        width: 250px;
        height: 250px;
    }

}

/* Larger tablets & small laptops */
@media (min-width: 768px) {
    #profile-posts-container {
        width: 75%;
    }
}

/* Standard laptops & desktops */
@media (min-width: 1024px) {
    #profile-details {
        width: 90%;
    }

    #profile-details {
        flex-direction: row;
    }

    #profile-posts-container {
        width: 40%;
    }
}

/* Large screens */
@media (min-width: 1280px) {
    #profile-details {
        width: 75%;
    }  
}

/* Extra large screens (4K monitors) */
@media (min-width: 1600px) {
    
}