/* Profile Details */
#profile-details-container {
    position: relative;
    max-width: 100%; /* Prevents overflow */
    overflow: hidden; /* Ensures content stays within boundaries */
    display: flex;
    flex-wrap: wrap; /* Prevents elements from exceeding container */
}

#profile-details {
    width: auto;
    max-width: 100%; /* Prevents expansion */
    overflow: hidden; /* Ensures content stays within boundaries */
    display: flex; /* Ensures they don't take full width */
    flex-direction: column;
}
/*
#profile-details input,
#profile-details textarea {
    display: flex;
    width: auto; /* Allows natural width 
    max-width: 100%; /* Stops unnecessary expansion 
}*/














#profile-picture {
    width: 150px;
    height: auto;
    margin: 0 20px 0 0;
}

#profile-picture:hover {
    opacity: 0.1;
}

#profile-name:disabled,
#profile-location:disabled,
#profile-bio:disabled {
    color: black;
    background: none;
    border: none;
    resize: none;
}

#profile-name,
#profile-location,
#profile-bio {
    border: none;
    resize: none;
}

#profile-picture {
    cursor: pointer;
}


#edit-icon {
    color: black;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    cursor: pointer;
}

#edit-icon:hover {
    background: lightgrey;
}

/* New Post */
#new-post-textarea {
    resize: none;
}

#new-post-btn-group {
    display: none;
}

/* All users posts */