body {
    scroll-behavior: smooth;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Triggered by JS after load */
body.fade-in {
    opacity: 1;
}

/* Generic version for re-use elsewhere */
/*.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.fade-in.active {
  opacity: 1;
}*/
  
textarea {
    resize: none !important;
}

h5 {
    font-size: 18px !important;
}
.error-flash {
    font-size: 16px;
    color: red;
}

.success-flash {
    font-size: 16px;
    color: green;
}

@media (min-width: 576px) {
    h5 {
        font-size: 20px !important;
    }
}