body {
    scroll-behavior: smooth;
}
textarea {
    resize: none !important;
}

h5 {
    font-size: 18px !important;
}
.error-flash {
    font-size: 16px;
    color: red;
}

.success-flash {
    font-size: 16px;
    color: green;
}