#new-post-container {
    margin-top: 24px;
}

#new-post-form {
    width: 100%;
}

#new-post-img {
    display: none;
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 100%;
}

#image-upload-btn {
    display: none;
    border: none;
}

#image-upload-btn i {
    font-size: 18px;
}

#new-post-textarea {
    border-color: #DEE2E6;
    padding: 5px;
}

#new-post-btn-group {
    display: none;
}

/* Small devices */
@media (min-width: 576px) {
    #new-post-container {
        margin-top: 48px;
    }
    #new-post-form {
        width: 100%;
    }
}

/* Large devices */
@media (min-width: 992px) {
    #new-post-img {
        aspect-ratio: 4 / 3;
    }
}