#index-container {
    width: 100%;
    padding: 0 !important;
}

#welcome-msg {
    padding: 0 16px;
    text-align: center;
}

#index-all-posts {   
    margin-top: 24px;   
}

/* Small devices */
@media (min-width: 576px) {
    #index-container {
        padding: auto;
    }
    #welcome-msg {
        padding: 0;
    }
    #index-all-posts {   
        margin-top: 48px;   
    }
}

/* Medium devices */
@media (min-width: 768px) {
    #index-container {
        width: 75%;
    }
}

/* Large devices */
@media (min-width: 992px) {
    #index-container {
        width: 50%;
    }
}

/* XL devices */
@media (min-width: 1280px) {
    #index-container {
        width: 40%;
    }
}