#index-container {
    width: 100%;
    padding: 0 !important;
}

#welcome-msg {
    padding: 0 16px;
}

#index-all-posts {   
    margin-top: 24px;   
}

@media (min-width: 576px) {
    #index-container {
        padding: auto;
    }
    #welcome-msg {
        padding: 0;
    }
    #index-all-posts {   
        margin-top: 48px;   
    }
}

/* Larger tablets & small laptops */
@media (min-width: 768px) {
    #index-container {
        width: 75%;
    }
}

/* Standard laptops & desktops */
@media (min-width: 1024px) {
    #index-container {
        width: 50%;
    }
}

/* Large screens */
@media (min-width: 1280px) {
    #index-container {
        width: 40%;
    }
}