#login-form,
#signup-form,
#profile-form {
    width: 75%;
}

#login-container,
#signup-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#login-container.fade-in,
#signup-container.fade-in {
    opacity: 1;
}

#profile-picture-img {
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 100%;
}

@media (min-width: 768px) {
    #login-form,
    #signup-form,
    #profile-form {
        width: 50%;
    }
}