#home-container {
    background-color: #0D6EFD;
    border-radius: 2px;
}

#home-link {
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 6px 6px;
}

#home-icon {
    width: 20px;
    margin-right: 5px;
}

#avatar-icon {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.nav-dropdown-item:active {
    color: #fff !important;
}

.dropdown-toggle::after {
    margin-left: 0px !important;
}

/* Tablets (small screens) */
@media (min-width: 600px) {
    .avatar-icon {
        width: 36px;
        height: 36px;
        
    }

    #home-icon {
        width: 22px;
    }

    #home-link {
        font-size: 18px;
    }
}