#profile-container {
    background-color: #FAFAFA;
    padding: 0;
}

#profile-details, 
#update-profile {
    opacity: 0;
    transition: opacity 0.5s ease-in-out
}

#profile-details.fade-in, 
#update-profile.fade-in {
    opacity: 1;
}

/* Profile details styles */
#profile-details {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    justify-content: center;
}

#profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

#profile-picture {
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 100%;
    max-width: 100%;
}

#profile-details-container {
    flex: 1;
    min-width: 0;
    max-width: 100%;
}

#profile-fullname {
    display: block;
    width: 100%;
    max-width: 90%;
    white-space: normal;
    overflow-wrap: normal;
    word-break: normal;
}

#profile-location,
#profile-joined-date,
#profile-occupation,
#profile-age,
#profile-bio {
    font-size: 16px;
    display: block;
    width: 100%;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: normal;
    word-break: normal;
}

#edit-icon {
    font-size: 16px;
    cursor: pointer;
}

#edit-icon i {
    color: grey;
}

/* Update profile styles */
#update-profile {
    display: none;
}

#profile-form {
    background-color: #FAFAFA;
    width: 100%;
}

#profile-picture-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-picture-img {
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 100%;
}

#profile-picture-btn i {
    font-size: 18px;
}

/* Profile posts */
#profile-posts-container {
    width: 100%;
    padding: 0px;
}

/* All users posts */
#profile-users-posts {
    margin-top: 24px;
}

/* Small devices */
@media (min-width: 576px) {
    #profile-container {
        padding: auto;
    }    
    #profile-details-container {
        width:80%;
        margin: 0 auto;
    }
    #profile-picture {
        width: 250px;
        height: 250px;
    }
    #profile-form {
        width: 75%;
    }
    #profile-posts-container {
        padding: auto;
    }
    #profile-users-posts {
        margin-top: 48px;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    #profile-form, 
    #profile-posts-container {
        width: 75%;
    }
}

/* Large devices */
@media (min-width: 992px) {
    #profile-details {
        width: 90%;
        flex-direction: row;
        margin: 0;
    }
    #profile-picture-container {
        display: block;
        width: auto;
        height: auto;
        padding-right: 3rem;
    }
    #profile-form {
        width: 50%;
    }
    #profile-posts-container {
        width: 40%;
    }
}

/* XL devices */
@media (min-width: 1280px) {
    #profile-details {
        width: 75%;
    }  
}